footer.footer
    div.footer_serchingDiv
        span.footer_serchingDiv_icon.fas.fa-search
        input(type="text" placeholder="Search Twitter").footer_serchingDiv_input
    div.footer_might
        div.footer_might_title
            span You might like
        div.footer_might_user
            div
                div.footer_might_image
            div.footer_might_user_middle 
                span.footer_Bool 새우튀김
                span.footer_might_text @Shrimp_fried
            div
                div.footer_might_Follow_image
                    span.footer_might_Follow_text Follow
        div.footer_might_user
            div
                div.footer_might_image
            div.footer_might_user_middle 
                span.footer_Bool 새우튀김
                span.footer_might_text @Shrimp_fried
            div
                div.footer_might_Follow_image
                    span.footer_might_Follow_text Follow
        div.footer_might_user
            div
                div.footer_might_image
            div.footer_might_user_middle 
                span.footer_Bool 새우튀김
                span.footer_might_text @Shrimp_fried
            div
                div.footer_might_Follow_image
                    span.footer_might_Follow_text Follow                    
        div.footer_might_footer
            span.footer_might_footer_text Show More
    div.footer_Trend
        div.footer_Trend_header
            span Trends for you
            span.fas.fa-cog
        div.footer_Trend_main
            div.footer_Trend_main_div
                div.footer_Trend_main_div_span
                    span.footer_color_Gray.footer_Trend_main_div_span_px Trending in Sounth Korea
                    span.footer_Trend_main_div_span_secondPx 새우튀김
                    span.footer_Trend_main_lastSpan 8,794 트윗
                div.footer_Trend_main_div_icon.footer_color_Gray
                    span.fas.fa-bars
        div.footer_Trend_main
            div.footer_Trend_main_div
                div.footer_Trend_main_div_span
                    span.footer_color_Gray.footer_Trend_main_div_span_px Trending in Sounth Korea
                    span.footer_Trend_main_div_span_secondPx 새우튀김
                    span.footer_Trend_main_lastSpan 8,794 트윗
                div.footer_Trend_main_div_icon.footer_color_Gray
                    span.fas.fa-bars
        div.footer_Trend_main
            div.footer_Trend_main_div
                div.footer_Trend_main_div_span
                    span.footer_color_Gray.footer_Trend_main_div_span_px Trending in Sounth Korea
                    span.footer_Trend_main_div_span_secondPx 새우튀김
                    span.footer_Trend_main_lastSpan 8,794 트윗
                div.footer_Trend_main_div_icon.footer_color_Gray
                    span.fas.fa-bars
        div.footer_Trend_main
            div.footer_Trend_main_div
                div.footer_Trend_main_div_span
                    span.footer_color_Gray.footer_Trend_main_div_span_px Trending in Sounth Korea
                    span.footer_Trend_main_div_span_secondPx 새우튀김
                    span.footer_Trend_main_lastSpan 8,794 트윗
                div.footer_Trend_main_div_icon.footer_color_Gray
                    span.fas.fa-bars
        div.footer_Trend_main
            div.footer_Trend_main_div
                div.footer_Trend_main_div_span
                    span.footer_color_Gray.footer_Trend_main_div_span_px Trending in Sounth Korea
                    span.footer_Trend_main_div_span_secondPx 새우튀김
                    span.footer_Trend_main_lastSpan 8,794 트윗
                div.footer_Trend_main_div_icon.footer_color_Gray
                    span.fas.fa-bars
        div.footer_Trend_main
            div.footer_Trend_main_div
                div.footer_Trend_main_div_span
                    span.footer_color_Gray.footer_Trend_main_div_span_px Trending in Sounth Korea
                    span.footer_Trend_main_div_span_secondPx 새우튀김
                    span.footer_Trend_main_lastSpan 8,794 트윗
                div.footer_Trend_main_div_icon.footer_color_Gray
                    span.fas.fa-bars
        div.footer_footer_show
            span Show more
