<form action="/posts" method="post">
    <div>
        <label>name:</label>
        <input type="title" name="title"/>
    </div>
    //- <div>
    //-     <label>Password:</label>
    //-     <input type="password" name="password"/>
    //- </div>
    <div>
        <input type="submit" value="Post"/>
    </div>
</form>