extends base.pug
include mixins/tweetCreateBlock
include mixins/tweetMedia
include mixins/tweet

block content
    div.homeMiddle
        div.homeMiddle_Header
            div.homeMiddle_Header_Block
                h3.homeText Home
                i.fas.fa-star.homeText
        div.homeMiddle_createTweet
            if loggedIn
                div
                    img(src=loggedInUser.profilePhoto, alt="").image
                div.homeMiddle_createTweet_Block
                    +tweetCreateBlock({
                        url : "/tweet/create"
                    })
    each tweet in tweets
        +tweetMediaBlock({tweet:tweet})
        