
if errorMessage 
    span=errorMessage
form(action="/login" method="POST")
    div
        label  휴대폰, 이메일, 사용자 아이디
        input(type="text" name="email")
    div 
        label 비밀번호
        input(type="password", name="password")
    div
        input(type="submit", value="로그인")