extends base.pug
include mixins/tweetCreateBlock
include mixins/tweetMedia

block content
    +tweetMediaBlock({tweet:tweet})
    +tweetCreateBlock({url: routes.tweetReply(tweet.id)})
    each tweets in lowerTweets
        +tweetMediaBlock({tweet:tweets})
